<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
   <div class="template">
    <h2>✅ Server status is active </h2>
   </div>
</body>
</html>